<div class="h-screen w-full overflow-auto">
     <h1 class="text-center py-3 font-bold uppercase sm:text-xl md:text-2xl lg:text-3xl xl:text-3xl text-gray-800"> Optimized Large User Lists</h1>
     <cdk-virtual-scroll-viewport itemSize="50" class="h-[calc(100vh-4rem)] w-full overflow-auto pt-4">
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
               <div *cdkVirtualFor="let user of users"  class="bg-white/30 rounded-lg shadow-lg py-5 px-6 border border-gray-300 transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-2xl">
                    <p class="text-lg font-bold text-gray-800">{{ user.name }}</p>
                    <p class="text-md font-medium text-gray-700">{{ user.email }}</p>
                    <p class="inline-block mt-2 px-3 py-1 text-sm rounded-full transition-all duration-300 ease-in-out" [ngClass]="user.role === 'Admin' ? 'bg-cyan-100 text-cyan-500' : 'bg-green-100 text-green-500'">Role: {{ user.role }}
                    </p>
               </div>
          </div>
     </cdk-virtual-scroll-viewport>
</div>